<header class="sheet-header">
    <div class="header-fields">
        <h3 class="paranoia-header">Draft in Progress</h3>
        <div class="draft-info">
            <span><strong>Round:</strong> +{{state.round}} / -{{state.round}}</span>
            <span><strong>Current Turn:</strong> {{state.currentPlayerName}}</span>
            <span><strong>Next Player:</strong> {{state.nextPlayerName}}</span>
        </div>
    </div>
</header>