<section class="grid grid-2col">
    <div>
        <div class="paranoia-header">
            <label for="paranoia-mission-objectives">Mission Objectives</label>
        </div>
        <div class="paranoia-editor-container paranoia-societal">
            {{editor 
            enrichedMissionObjectives
            target="system.missionObjectives"
            button=true
            engine="prosemirror"
            editable=editable
            collaborate=false }}
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label for="paranoia-gear">Assigned Gear</label>
        </div>
        <div class="paranoia-editor-container paranoia-societal">
            {{editor 
            enrichedGear
            target="system.assignedGear"
            button=true
            engine="prosemirror"
            editable=editable
            collaborate=false }}
        </div>
    </div>
</section>
