<section>
    <div class="grid grid-2col">
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Aliases</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedAliases
                    target="system.secrets.aliases"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=true}}
                </div>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Society</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedSecretSocieties
                    target="system.secrets.secretSociety"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=false }}
                </div>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Society Favours</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedSecretSocietyFavors
                    target="system.secrets.secretSocietyFavors"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=false}}
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Objective</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedSecretObjective
                    target="system.secrets.secretObjective"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=false}}
                </div>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Mutant Power</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedMutantPowers
                    target="system.secrets.mutantPower"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=false}}
                </div>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Service Group Favours</label>
                </div>
                <div class="paranoia-editor-container">
                    {{editor
                    enrichedServiceGroupFavors
                    target="system.secrets.serviceGroupFavors"
                    button=true
                    engine="prosemirror"
                    editable=editable
                    collaborate=false}}
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Evidence (For blackmail and accusations)</label>
        </div>
        <div class="paranoia-editor-container">
            {{editor enrichedEvidence target="system.secrets.evidence" button=true engine="prosemirror"
            editable=editable
            collaborate=false}}
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label>DO NOT FORGET THESE NOTES</label>
        </div>
        <div class="paranoia-editor-container">
            {{editor enrichedSecretNotes target="system.secrets.notes" button=true engine="prosemirror"
            editable=editable
            collaborate=false}}
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Treasonous Gear (DO NOT USE OPENLY!)</label>
        </div>
        <div class="gear-list-container" data-drop-type="treasonousGear">
            {{> "actor-gear-list" gearList=treasonousGear gearType="treasonousGear"
            createTitle="Create Treasonous Gear"}}
        </div>
    </div>
</section>
