<section>
    <div class="grid grid-3col">
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Aliases</label>
                </div>
                <textarea name="system.secrets.aliases">{{system.secrets.aliases}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Society</label>
                </div>
                <textarea name="system.secrets.secretSociety">{{system.secrets.secretSociety}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Objective</label>
                </div>
                <textarea name="system.secrets.secretObjective">{{system.secrets.secretObjective}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Mutant Power</label>
                </div>
                <textarea name="system.secrets.mutantPower">{{system.secrets.mutantPower}}</textarea>
            </div>
        </div>
        <div>
            <div>
                <div class="paranoia-header">
                    <label>Service Group Favours</label>
                </div>
                <textarea name="system.secrets.serviceGroupFavors">{{system.secrets.serviceGroupFavors}}</textarea>
            </div>
            <div>
                <div class="paranoia-header">
                    <label>Secret Society Favours</label>
                </div>
                <textarea name="system.secrets.secretSocietyFavors">{{system.secrets.secretSocietyFavors}}</textarea>
            </div>
        </div>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Treasonous Gear (DO NOT USE OPENLY!)</label>
        </div>
        <textarea name="system.secrets.treasonousGear">{{system.secrets.treasonousGear}}</textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label>Evidence (For blackmail and accusations)</label>
        </div>
        <textarea name="system.secrets.evidence">{{system.secrets.evidence}}</textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label>DO NOT FORGET THESE NOTES</label>
        </div>
        <textarea name="system.secrets.notes">{{system.secrets.notes}}</textarea>
    </div>
</section>
