<section class="grid grid-2col">
    <div>
        <div class="paranoia-header">
            <label for="paranoia-mission-objectives">Mission Objectives</label>
        </div>
        <textarea class="paranoia-role-textarea" name="paranoia-mission-objectives"
            placeholder="Mission Objective(s)"></textarea>
    </div>
    <div>
        <div class="paranoia-header">
            <label for="paranoia-gear">Assigned Gear</label>
        </div>
        <textarea class="paranoia-role-textarea" name="paranoia-gear" placeholder="Assigned Gear"></textarea>
    </div>
</section>
