<form class="{{cssClass}} {{actor.type}} flexcol paranoia" autocomplete="off">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">
    
    <div class="grid grid-3col">
      <div class="paranoia-npc-info">
        <img class="paranoia-npc-image" ; src="{{actor.img}}" data-edit="img" name="paranoia.actor.image"
        title="{{actor.name}}'s ugly mug" height="250" />
        <div class="resource flex-group-center">
          <label for="system.plans" class="resource-label">Quote</label>
          <div class="resource-content flexrow flex-center flex-between" style="width: 100%">
            <input type="text" name="system.quote" value="{{system.quote}}" data-dtype="String" />
          </div>
        </div>
      </div>
      <div class="paranoia-npc-info grid-span-2">
        <div class="resource flex-group-center" style="width: 100%">
          <label for="name" class="resource-label">Name</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input class="paranoia-actor-name" type="text" name="name" value="{{actor.name}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.looks" class="resource-label">Looks</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.looks" value="{{system.looks}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.quirks" class="resource-label">Quirks</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.quirks" value="{{system.quirks}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.plans" class="resource-label">Plans</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.plans" value="{{system.plans}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.plans" class="resource-label">Basics</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.basics" value="{{system.basics}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.plans" class="resource-label">Gear</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.gear" value="{{system.gear}}" data-dtype="String" />
          </div>
        </div>
        <div class="resource flex-group-center" style="width: 100%">
          <label for="system.plans" class="resource-label">Mutant Powers</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.mutantPowers" value="{{system.mutantPowers}}" data-dtype="String" />
          </div>
        </div>
        <div>
            <div class="grid grid-2col">   
                <div class="resource flex-group-center">
                    <label class="resource-label center-align" for="system.moxie">Moxie</label>
                    <input type="text" name="system.moxie.value" value="{{system.moxie.value}}" data-dtype="Number" />
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label center-align" for="system.health">Health</label>
                    <input type="text" name="system.health.value" value="{{system.health.value}}" data-dtype="Number" />
                </div>
            </div>
        </div>
      </div>
    </div>
</form>
  