<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns. --}}
      <div class="paranoia-pii-header">
        <h1>Part 1: Personally Identifiable Information (PII)</h1>
      </div>
      <div class="resources grid grid-2col paranoia-container paranoia-pii">

        {{!-- "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. --}}

        <div class="resource flex-group-center">
          <label for="system.attributes.name.value" class="resource-label">Name</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.name.value" value="{{system.attributes.name.value}}"
              data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.team.value" class="resource-label">Team Name</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.team.value" value="{{system.attributes.team.value}}"
              data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.mbd.value" class="resource-label">Mandatory Bonus Duty</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.mbd.value" value="{{system.attributes.mbd.value}}"
              data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.serviceGroup.value" class="resource-label">Service Group</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.serviceGroup.value"
              value="{{system.attributes.serviceGroup.value}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.treasonButton.value" class="resource-label">Treason Button</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.treasonButton.value"
              value="{{system.attributes.treasonButton.value}}" data-dtype="String" />
          </div>
        </div>

        <div class="resource flex-group-center">
          <label for="system.attributes.violenceButton.value" class="resource-label">Violence Button</label>
          <div class="resource-content flexrow flex-center flex-between">
            <input type="text" name="system.attributes.violenceButton.value"
              value="{{system.attributes.violenceButton.value}}" data-dtype="String" />
          </div>
        </div>

      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="productivityProfile">Part Too: Productivity Profile</a>
    <a class="item" data-tab="wellness">Third Part: Wellness</a>
    <a class="item" data-tab="role">Part the Fourth: Role in Society</a>
    {{#unless (or sheetSettings.isLimited sheetSettings.isObserver)}}
    <a class="item" data-tab="naughty">Back of the Sheet: the Naughty Side</a>
    {{/unless}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Part Too: Productivity Profile Tab --}}
    <div class="tab paranoia-productivity-profile" data-group="primary" data-tab="productivityProfile">
      {{> "systems/paranoia/templates/actor/parts/actor-productivity-profile.html"}}
    </div>

    {{!-- Third Part: Wellness Tab --}}
    <div class="tab paranoia-wellness" data-group="primary" data-tab="wellness">
      {{> "systems/paranoia/templates/actor/parts/actor-wellness-tab.html"}}
    </div>

    {{!-- Part the Fourth: Role In Society --}}
    <div class="tab paranoia-role" data-group="primary" data-tab="role">
      {{> "systems/paranoia/templates/actor/parts/actor-items.html"}}
    </div>

    {{!-- Back of the Sheet: The Naughty Stuff --}}
    <div class="tab paranoia-role" data-group="primary" data-tab="naughty">
      {{> "systems/paranoia/templates/actor/parts/actor-naughty-side.html"}}
    </div>

  </section>
</form>
