/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */

.items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists (if any)
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Section Header
  .items-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: $border-groove;
    font-weight: bold;

    >* {
      font-size: 12px;
      text-align: center;
    }

    .item-name {
      padding-left: 5px;
      text-align: left; // Align header with rows
    }
  }

  // Individual Item Row
  .item {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;

    &:last-child {
      border-bottom: none;
    }

    .item-name {
      flex: 2;
      margin: 0;
      overflow: hidden;
      font-size: 13px;
      text-align: left;
      align-items: center;
      display: flex;
      color: $c-dark;

      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }

      h3,
      h4 {
        margin: 0;
        white-space: nowrap;
        overflow-x: hidden;
      }
    }

    .item-prop {
      text-align: center;
      border-left: 1px solid #c9c7b8;
      border-right: 1px solid #c9c7b8;
      font-size: 12px;
    }

    // Control Buttons
    .item-controls {
      display: flex;
      flex: 0 0 100px;
      justify-content: flex-end;

      a {
        font-size: 12px;
        text-align: center;
        margin: 0 6px;
      }
    }
  }
}

.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.gear-list-container {
  min-height: 250px;
  flex-grow: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;

  // Add a transition for a smoother effect
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-border-light-tertiary);
  border-radius: 3px;

  // Provide visual feedback when dragging over. This class is added via JS.
  &.paranoia-drop-hover {
    border-color: var(--main-color, darkred);
    box-shadow: 0 0 10px var(--glow-color, rgba(255, 0, 0, 0.5));
  }
}
