/**
 * General UI overrides and enhancements for the Paranoia system.
 */

// Style the item being dragged from a directory list.
// This class is added via JavaScript on dragstart and removed on dragend.
li.directory-item.item.paranoia-dragging-item {
    background-color: rgba($c-paranoia-accent, 0.85);
    outline: 2px solid $c-paranoia-accent;
    border-radius: 3px;

    // Make the text inside white for better contrast
    * {
        color: white !important;
    }
}
