<form class="flexcol paranoia">
    <header class="sheet-header">
        <div class="form-group">
            <label for="big_treason">Primary Treasonous Act</label>
            <p class="notes">Describe the central incident that the entire team is culpable for (e.g., "Destroyed an
                important piece of experimental R&D equipment").</p>
            <textarea name="big_treason" id="big_treason" rows="3"></textarea>
        </div>
        <hr>
        <h2>Troubleshooter Culpability</h2>
        <p class="notes">For each Troubleshooter, describe their secret treason and select the teammate they suspect
            knows about it.</p>
    </header>

    <section class="sheet-body">
        <div class="treason-entries-container">

        </div>
    </section>

    <footer class="sheet-footer">
        <div class="form-group">
            <button type="button" class="add-row-button"><i class="fas fa-plus"></i> Add Treason Entry</button>
        </div>
        <button type="submit">
            <i class="fas fa-paper-plane"></i> Send Whispers to Players
        </button>
    </footer>
</form>
